.ashram-container{
    position:relative;
    width:100vw;
    z-index: 1;
    background-color: whitesmoke;

}
.asram-row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 50px;
    position: relative;
    box-shadow: 5px 5px #ddbed4;
   
   
}

.text-center-box {
    text-align: center;
  
}



.image-description{ 
        text-align: center;
        padding: 10px;
        color: #f8f9fa;  
        font-weight: 700; 
        font-size:25px;
}
.ashram-image-container {
    z-index:1;

    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.grid-img{
    width: 100%;
    height:auto;
    margin:0;
    object-fit: cover;
    border:2px solid black;
   border-radius: 10px; 
 

}
.image-frame{
   flex:0 0 70%;
   vertical-align: middle;
   
}
@media (min-width:768px) {
    .image-frame{
        transform: translatey(25%)
    }
}
@media (max-width:768px) {
    .image-frame{
        flex:0 0 90%;
        vertical-align: middle;
     }
    
}




