/* Base styles  */
.master-content {
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 50px 10px;
  perspective: 1000px;
  /*background-color: #007978;*/
}

.row-background1 {
  background-image: url("/public/img/masterpics/lighthouse-background.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  /*background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%); */
}
.row-background-green {
  background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%);
}
.row-background2 {
  background-image: url("/public/img/home/radial-background.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.frame {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: auto;
}
.designer-frame {
  border-radius: 87px / 40px;
  border: 5px solid #ffea00;
}
.designer-leaf-frame {
  border: 5px solid orange;
  border-radius: 20%/50%;
}
.designer-frame-ellipse {
  border: 5px solid orange;
  border-radius: 50%/60%;
}

.image-container {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.image-block {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
}

.row-background {
  /*background-color: #007978;*/
  background: radial-gradient(
    circle at 25% 75%,
    rgba(255, 165, 0),
    rgba(255, 140, 0) 40%,
    rgba(255, 69, 0) 70%,
    rgba(0, 0, 0) 100%
  );
}
.row-background-blue {
  background: linear-gradient(115deg, #000046, #1cb5e0);
}
.header {
  color: white;
  font-family: ivyora-display, Didot, "Times New Roman", serif;
  font-weight: 300;
  font-size: 5rem;
  letter-spacing: 0.08em;
  line-height: 1.306;
}

.text {
  /* font-size: 16px;
    margin-top: 10px; */
  /*font-family: "skolar-sans-pe", "Helvetica Neue", sans-serif;*/
  font-family: "skolar-sans-pe", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  padding: 6%;
  text-align: left;
  justify-content: center;
  letter-spacing: 0.03rem;
  font-feature-settings: "palt" on;
  line-height: 1.8;
}

.full-height {
  height: 100vh;
}

.image {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: contain;
  object-position: center; /* Ensure the image doesn't exceed its container */
}

.divider {
  border: 1px solid white;
  width: 50%;
  margin: 15px auto;
  background-color: white;
}

.quote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  /* Transparent blue at the bottom */
  background: rgb(0, 0, 0, 0.25);
  color: #f1f1f1;
  text-align: center;
  padding: 0;
  margin: 0;
}

.quote-text {
  color: white;
  font-size: 13rem;
}
.text-scroll-effect span {
  color: hsl(0 0% 100%/0.2);
  background-repeat: no-repeat;
  background-clip: text;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, white, white);
  animation: scroll-reveal linear forwards;
  animation-timeline: view(y);
}
.text-scroll-effect h2 span {
  animation-range-start: contain 15vh;
  animation-range-end: contain 35vh;
  -webkit-animation-range-start: contain 15vh;
  -webkit-animation-range-end: contain 35vh;
}
.text-scroll-effect p span {
  animation-range-start: cover 25vh;
  animation-range-end: contain 50vh;
}
@keyframes scroll-reveal {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
/* Responsive styles for mobile screens */
@media (max-width: 768px) {
  .header {
    font-size: 4rem;
  }
}
/* Responsive styles for larger screens (desktop) */
@media (min-width: 769px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 50px 10px;
  }

  .text {
    font-family: "skolar-sans-pe", "Helvetica Neue", sans-serif;
    position: relative;
    /* font-size: 16px; Reset font size for larger screens */
    margin-left: 20px;
    padding: auto;
    color: white; /* Create space between image and text */
  }
  .frame {
    width: 100%;
    object-fit: cover;
    object-position: center;

    margin-right: 3rem;
    margin-bottom: 4rem;
  }

  .divider {
    border: 1px solid white;
    width: 80%;
    margin: 15px auto;
    color: white;
    background-color: white;
  }
}

.meditation-section {
  margin-left: auto !important;
  margin-right: auto !important;
  align-self: center;
}
.textcolor {
  color: black;
}
.imageresize {
  object-fit: cover;
  object-position: center;
}
.mini-text {
  text-align: center;
  white-space: pre-wrap;
}
.ashram-content {
  background-color: rgb(6, 48, 6);
}
.position-center {
  position: absolute;
}
.oval-seperation {
  border-right: 1px solid blue;
  border-radius: 50px;
}
