/* Base styles  */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 10px;
}

.image {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.text {
  /* font-size: 16px;
  margin-top: 10px; */
  font-family: "Crimson Text", serif;
  font-size: 18px;
  text-align: center;
}

.header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

.divider {
  border: 1px solid black;
  width: 50%;
  margin: 15px auto;
}

/* Responsive styles for mobile screens */
@media (max-width: 768px) {
  .text {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Responsive styles for larger screens (desktop) */
@media (min-width: 769px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 50px 10px;
  }

  .image {
    max-width: 50%; /* Adjust image size for larger screens */
  }

  .text {
    font-family: "Crimson Text", serif;
    font-size: 18px;
    text-align: center;
    /* font-size: 16px; Reset font size for larger screens */
    margin-left: 20px; /* Create space between image and text */
  }
  .header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
  }
  .divider {
    border: 1px solid black;
    width: 50%;
    margin: 15px auto;
  }
}
