 .glowing-container {
    position: relative;
    background: black;
    overflow: hidden;
    padding: 20px;
    color: white;
    width:100%;
    margin:0px;
    
}


@keyframes move-div {
    from{  opacity:0;}
    to{  opacity:0.5;}
    
    
}
.image-column{
    position:relative;
    left:0;
    z-index:2;
}
.glowing-image {
    position:relative;
    left:0px;
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity:0;
    animation: display-image 4s linear;/*image should display after first line is displayed*/
    animation-delay: 5s;
    animation-fill-mode: forwards;

}


.glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 25% 75%, rgba(255, 165, 0, 0.8), rgba(255, 140, 0, 0.5) 40%, rgba(255, 69, 0, 0.2) 70%, rgba(250, 249, 249, 0.04) 100%);
    animation: flicker 6s 1 ;
    animation-fill-mode: forwards;
    animation-delay: 7s;
    pointer-events: none;
    opacity:0;
    z-index: 1;
    
}
@keyframes display-image{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.15;
    }
    100% {
        opacity: 1;
    }
}
.line {
    display: block;
    margin: 5px 0;
   
  }
  .line-font{
    font-size: 4.5rem;
    color:white;
  }
  .line-animate{
    opacity:0;
    animation: text-animate 2s ease-in-out;
    animation-fill-mode: forwards;
    

  }
  @keyframes text-animate {
    from{opacity:0;
   }
    to{opacity:1;
        }
    
  }
  @keyframes text-move {
    from{
        transform: translateX(-100px);}
        to{
            transform: translateX(0);}
    
  }
  @media (max-width: 1024px) {
    .line-font{
        font-size: 3.5rem;
    }
  }