
/* Ensure html, body, and root div take full height */
html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
}

/* Ensure the main container takes full height and width */
.contact-us-container {
  background-color: #d3decf; /* Pale olive green */
  font-family:  'Helvetica Neue';
  font-size: 1.1em; 
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Include padding in height calculation */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; /* Added for decorative elements positioning */
}

h1 {
  color: #333;
  margin-bottom: 10px;
  margin:0;
}

.contact-title {
  font-size: 60px; /* Adjust font size */
  font-weight:bold;
}

p {
  margin: 5px 0;
  color: #040404; /* Added for text color */
}

.contact-description {
  font-size: 1.3em; /* Adjusted font size */
  max-width: 450px; /* Maximum width for the text block */
  text-align: center; /* Center align the text */
  margin: 0 auto; /* Center the block */
  line-height: 1.5em; /* Adjust line height for better readability */
}

.button-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 80px; /* Add space between buttons */
  margin: 20px 0;
}

.button-and-info{
  display: flex;
  flex-direction: column;
}


.contact-button {
  padding: 10px 20px;
  background-color: #fb6a09;
  width:inherit;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 50px; /* Make the button oval */
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s; /* Smooth hover effect */
}

.contact-button:hover {
  background-color: pink;
  color: black;
}

.contact-info-left {
  max-width: 300px;
  color: #333;
  text-align: end;
}

.contact-info-right {
  max-width: 300px;
  color: #333;
  text-align: start;
}


.decorative-elements {
  position: absolute; /* Position relative to the container */
  bottom: 20px; /* Adjust based on your design */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.decorative-elements img {
  height: 100px; /* Adjust size as needed */
}


