@import url('https://fonts.googleapis.com/css2?family=Brush+Script+MT&display=swap');


.paintbrush-heading {
    font-family: 'Brush Script MT', cursive;
    font-size: 6rem;
    font-weight:700;
   background: linear-gradient(90deg, #f06a48, #feb47b, #ff6e7f, #0f8dd0, #57c1eb);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 20px;
  }





