
.circle {
    position: relative;
    background: mistyrose;
    border: 1px solid black;
    width:100%;
    overflow: hidden;
    padding-top:100%;
    -webkit-margin-top-collapse:10%;
    transition: border-radius 2s ease-in-out;
    transition-delay: 2s;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    border-radius:50%;
    
  }
   
  .image-box{
    position: relative;
    text-align:center;
  }
  .overlay {
    position:absolute;
    top:0;
    /*position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);*/
  }
  
  
  .square-content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: black;
    opacity: 1;
    transform: translateY(20%);
    text-align: center;
    justify-content: center; 
    padding-top: 0px;
    transition: opacity 2s ease-in-out,transform 3s ease-in-out;
    transition-delay:3s 1s;

  }
  .square-content-header{
    position:relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vh;
  }
  .square-content-header::after{
    content:"";
    position:absolute;
    height:3px;
    width:100%; 
    background-color: green;
    left:0;
    bottom:0;
    transform:scaleX(0);
    transition: transform 1s ease-in-out;
    transition-delay:1s;
  }
  .square-content-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vh;
    opacity: 0;
    transition: opacity 1s linear;
    transition-delay: 2s;
  }
  .square-content-img{
    opacity:0.3;
    opacity:1;
    translate: transform 1s ease-in-out, opacity 1s ease-in-out;
    transition-delay: 2s ;
    
  }
 
   
 /* circle active */  
    
    
   
    .circle.active {
      border-radius:5%;  
      cursor: pointer;
    }
    
    .circle.active .square-content{
      transform: translateY(0);
    }
    .circle.active .square-content-img{
      transform: translateY(0);
      opacity:0.15;
      
    }
    .circle.active .square-content .square-content-text{
      padding-top: 40px;
      opacity: 1;
     
    }
    .circle.active .square-content .square-content-text{
      opacity:1;
    
    }
    .circle.active  .square-content-header::after{
      transform:scaleX(1);
    }


  /* hover functionlaity 
  
  @media (hover:hover){
    .circle{
      border-radius: 50%;
    }
   
    .square-content{
      transform: translateY(20%);

    }
    .square-content-img{
      opacity:1;
      
    }
    .square-content-text{
      opacity: 0;
    }
    .circle:hover {
      border-radius:0;  
      cursor: pointer;
    }
    
    .circle:hover .square-content{
      transform: translateY(0);
    }
    .circle:hover .square-content-img{
      transform: translateY(0);
      opacity:0.15;
      
    }
    .circle:hover .square-content .square-content-text{
      padding-top: 40px;
      opacity: 1;
     
    }
    .circle:hover .square-content .square-content-text{
      opacity:1;
    
    }
    .circle:hover  .square-content-header::after{
      transform:scaleX(1);
    }

  }*/

  /* animation for scrolling 
  @media (pointer: coarse) and (hover: none) {
  @keyframes fade-in{
    from{opacity:0.5; }
    to{ opacity:1; border-radius: 0;}
  }
    .circle{
      animation:fade-in linear;
     animation-timeline: view();
     animation-duration: 5ms;


    }

  
}*/

  
  
  
