.footer {
  background-color: #ffffff; /* Set background to pure white */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: inherit;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Space items evenly */
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
  width: 40%;
  position: relative;
}

.footer-left,
.footer-center,
.footer-right {
  flex: none; /* Prevent flex items from growing */
}

.footer-logo {
  width: auto;
  height: 45px;
}

.footer-social-links a {
  margin: 0 10px;
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.footer-terms {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font: inherit;
  text-decoration: underline;
}

.footer-scroll-up {
  position: absolute;
  right: 20px;
}

.footer-scroll-up a {
  background-color: #ff6d3b;
  padding: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.footer-scroll-up :hover{
  background-color: pink;
  color: black;
}
