.next-page-link {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
}

.next-page-link:hover {
  text-decoration: underline;
}
.next-link-content {
  position: absolute;
  bottom: 50%;
  right: 0;
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  margin-top: 20px;
}
