a {
  color: #ff5a34;
}

a:hover {
  color: black;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 5rem;
}
.col .col-sm-8 {
  padding: 1rem;
}
body {
  padding-top: 90px;
  background-color: #f6f8f5;
}

@media (min-width: 992px) {
  body {
    padding-top: 110px;
  }
}

html {
  font-size: 100%;
  font-family: "skolar-sans-pe", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 768px) {
  html {
    font-size: 14px; /* make everything a bit smaller on tablets */
  }
}
@media screen and (max-width: 480px) {
  html {
    font-family: "skolar-sans-pe", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
  }
}

@media screen and (min-width: 1340px) {
  html {
    font-family: "skolar-sans-pe", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: clamp(10px, 0.7142857vw, 12px);
  }
}
p {
  font-family: "skolar-sans-pe", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  padding: 6%;
  text-align: left;
  justify-content: center;
  letter-spacing: 0.03rem;
  font-feature-settings: "palt" on;
  line-height: 1.8;
}
