.page {
  /* margin: 0 10px; */
  font-family: "open sans", sans-serif
}

@media(min-width: 992px) {
  .page{
    margin: 0 70px;
  }
}

.page h2 {
  font-weight: 300;
  margin-bottom: 30px;
  color: #333;
}

.page-bible-reference {
  font-weight: 700;
  color:#ff5a34;
}
