.small-header {
  font-weight: 400 !important;
  text-transform: uppercase;
}

.mask-painting {
  -webkit-mask-image: url("/public/img/meditation/7.svg");
  mask-image: url("/public/img/meditation/7.svg");
  mask-size: 50%;
  mask-repeat: no-repeat;
}
.data-alignment {
  padding: 3em;
  text-align: center;
}
.sub-header {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1em;
  text-align: center;
}

@media (min-width: 769px) {
  .move-down {
    transform: translateY(100%);
  }
  .space-text {
    padding-right: 3em;
  }
  .space-item {
    margin: 3em 0 3em 0;
    padding: 3em;
  }
}
@media (max-width: 769px) {
  .space-item {
    margin: 1em;
    padding: 1em;
  }
  .sub-header {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1em;
    text-align: center;
  }
}
.image-border {
  border: 2px solid white;
}
.curved-frame {
  border-radius: 50% 50% 0 0;
}
.main-container {
  position: relative;
  z-index: 50;
}
.outer-div {
  z-index: 0;
}
