.small-header{
    font-weight: 400 !important;
    text-transform: uppercase;
}
.space-item{
    margin:3em;
    padding:3em;
}
.mask-painting {
    -webkit-mask-image: url("/public/img/meditation/7.svg");
    mask-image:  url("/public/img/meditation/7.svg");
    mask-size: 50%;
    mask-repeat: no-repeat;    
  }
  .data-alignment{
    padding:3em;
    text-align: center;
  }
  .sub-header{
    font-weight: 600;
    font-size:2.5rem;
    margin-bottom:1em;
  }
  .space-text{
    padding-right:3em;
    
  }
  @media (min-width:769px) {
    .move-down{
        transform: translateY(2em);
      }
  }
  
