.section {
  padding: 0px;
  background-color: #f6f8f5;
  height: 98%;
  background-blend-mode: luminosity;
}

.section img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.section h1 {
  font-size: 8vw;
  font-family: "Times New Roman", Times, serif;
}

.section-row .heading-text {
  letter-spacing: 0.08em;
  line-height: 1.6;
  font-feature-settings: "palt" on;
  font-family: ivyora-display, Didot, "Times New Roman", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.section-row {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: "skolar-sans-pe", "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "palt" on;
}

.section row p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section-row .div-block {
  border: 2px black;
  align-content: center;
  align-self: center;

  display: block;
  box-sizing: border-box;
  background-color: black;
}

.content-block {
  display: block;
  padding: 0.2rem;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  background-color: white;

  border: 1px solid black;
  border-radius: 0.8rem;
}
.container-fluid .row:nth-child(even) {
  flex-direction: row-reverse !important;
}
.content-block img {
  padding: 0.1rem;
}
@media screen and (max-width: 810px) {
  .section h1 {
    font-size: 8vh;
  }
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 389px) {
  html {
    font-size: 2.5641vw;
  }
}

@media screen and (min-width: 1340px) {
  html {
    font-size: clamp(10px, 0.7142857vw, 12px);
  }
}
.data-heading {
  width: 48.1481%;
  width: auto;
  margin: 0 0 4rem;
  padding-top: 0.24em;
}

@media screen and (max-width: 959px) {
  .data-heading {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .heading-text {
    margin: 0;
  }
}
.heading-text {
  font-size: 5.5rem;
  letter-spacing: 0.08em;
  line-height: 1.306;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .heading-text {
    font-size: 3.5rem;
    letter-spacing: 0.08em;
    line-height: 1.306;
  }
}
.section-data {
  /* width: 100%; */
  max-width: 116rem;
  padding: 0 4rem;
  margin: 0 auto;
}

@media screen and (max-width: 599px) {
  .section-data {
    padding: 0 2rem;
  }
}
.button-style {
  font-size: 1.5rem;
}
.info-font {
  font-family: "Papyrus", Fantasy;
}
.sub-heading {
  border-bottom: 1px solid black;
}

/* cirlce button 


.parent button {
  background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 130px;
  width: 130px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.parent button:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.parent button:not(:first-child) {
  margin-top: 10px;
}
.round {
  border-radius: 70%;
} */
